/* styles.css */

/* Estilos de modo oscuro suave */

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 700px;
    margin: auto;
    background-color: #1e1e1e;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 60px; /* Añadido para evitar superposición */
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

#city-input,
#city-select {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    padding: 12px 25px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
    background-color: #6200ee;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}

button:disabled {
    background-color: #444;
    cursor: default;
}

#recommendation {
    margin-top: 20px;
    font-size: 1.1em;
    text-align: left;
}

.activity-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #2a2a2a;
    border-radius: 8px;
}

.activity-details h3 {
    margin-top: 0;
    color: #ffffff;
}

.place-details {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}

.place-details h4 {
    margin-top: 0;
    color: #ffffff;
}

.activity-details p,
.place-details p {
    margin: 5px 0;
}

.language-switch {
    text-align: right;
    margin-bottom: 10px;
}

.language-switch button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.language-switch button:disabled {
    color: #888;
    cursor: default;
}

.options {
    margin-bottom: 15px;
    font-size: 1em;
    color: #e0e0e0;
}

.options label {
    margin-right: 15px;
    cursor: pointer;
}

.options input[type="radio"] {
    margin-right: 5px;
}

a {
    color: #03dac6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[href^="tel:"] {
    color: #bb86fc;
}

/* Estilo para los enlaces de sitios web */
a[href^="http"] {
    color: #03a9f4;
}

.share-links a {
    color: #bb86fc;
}

.get-directions a {
    color: #03dac6;
}

.date-time {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 0.9em;
    color: #e0e0e0;
    font-weight: 300;
}

hr {
    border: none;
    border-top: 1px solid #444;
    margin: 20px 0;
}

@media (max-width: 600px) {
    #city-input,
    #city-select {
        width: 100%;
    }

    .container {
        padding: 20px 20px;
        margin-top: 20px; /* Ajustado para dispositivos móviles */
    }

    .date-time {
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 10px;
    }
}
